@import "tailwindcss";

* {
  -webkit-user-select: none; /* Chrome, Safari */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(135deg, #ffe6f2, #ffd6ec, #ffcce6);
}

h1 {
  font-size: clamp(1rem, 4vw, 1.4rem);
  margin-bottom: 20px;
}

button {
  min-width: 90px;
  padding: 10px 18px;
  font-size: 1rem;
}
button:hover {
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (max-width: 425px) {
  .card {
    padding: 20px;
  }

  .emoji {
    font-size: 2.5rem;
  }

  button {
    min-width: 70px;
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
